# build output
dist/

# IDE related
.vscode
.idea

# dependencies
node_modules/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# test configs
test_config.yml
test_config.yaml

# environment variables
.env
.env.production

# macOS-specific files
.DS_Store